<div class='container'>
  <div align='center'>
    <div class='filter_button'>
      <%= button_to "Unanswered Questions", unanswered_path, method: "get" %>
    </div>
    <div class='filter_button'>
      <%= button_to "All Questions", root_path, method: "get" %>
    </div>
  </div>
  <% @questions.each do |question| %>
    <%= render partial: "questions/show", locals: {question: question} %>
  <% end %>
</div>
