<div class='container'>
  <%= button_to "Unanswered Questions", unanswered_path, method: "get" %>
  <% @questions.each do |question| %>
    <%= render partial: "questions/show", locals: {question: question} %>
  <% end %>
</div>
