<h3>Comments</h3>
<ul>
  <% comments.each do |c| %>
    <li><%= c.body %></li>
    <%= button_to "Edit", "/comments/#{c.id}/edit", method: :get %>
    <%= button_to "Delete", c, { method: "delete" } %>
  <% end %>
</ul>
