<h2>Users</h2>
<ul class = "user_list" >
	<% @users.each do |user| %>
		<li class = "user_item" >
			<% @user = user %>
			<%= render template: "users/show.html.erb", locals: { user: @user } %>
		</li>
	<% end %>
</ul>