/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html,body {
    height:100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}
.container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

header{
  background-color: white;
  margin: 10px;
  height: 110px;
  border-bottom: 2px solid #ccc;;
}
nav{
  position: relative;
  float: right;
}
nav ul li{
  display: inline-block;
}

h1{
  font-family: 'Droid Sans', sans-serif;
  padding-left: 20px;
  position: relative;
  float: left;
  font-size: 3em;
  margin: 20px;
}

h2{
  font-family: 'Oswald', sans-serif;
  margin: 20px;
  color: #1c6551;
  font-size: 1.5em;
}

h3{
  font-family: 'Abel', sans-serif;
  font-size: 1em;
}

h4{
  font-family: 'Abel', sans-serif;
  font-size: 1.3em;
}

.question_body{
  font-size: 1.3em;
  font-family: 'Abel', sans-serif;
  margin: 20px;
  padding: 5px;
}

.answer_body{
  font-size: 1.3em;
  font-family: 'Abel', sans-serif;
  margin: 20px;
  padding: 5px;
}

.new_answer{
  font-size: 1.3em;
  font-family: 'Abel', sans-serif;
  margin: 20px;
  padding: 5px;
}

.type_titles {
  font-size: 24px;
}

.question_main {
}

.question_show_partial {
  clear: both;
  height: 100%;
}

.question_votes {
  float: left;
  width: 95px;
  height: 100%;
}

.question_buttons {
  float: right;
}

.question_content {
  margin-left: 95px;
}

.question_title {
  width: 100%;
}

.question_body {
  width: 100%;
}

.question_main {
}

.answer_show_partial {
  clear: both;
}

.answer_votes {
  float: left;
  width: 95px;
  height: 100%;
}

.answer_buttons {
  float: right;
}

.answer_content {
  margin-left: 95px;
}

.answer_body {
  width: 100%;
}

.answer_show_partial {
  clear: both;
}

.answer_body {
  width: 100%;
}

.comment_show {
  clear: both;
  margin-left: 95px;
}

.comment_body {
  float: left;
}

.comment_buttons {
  float: right;
}

.comment_label {
  margin-left: 95px;
}

.add_comment {
  margin-left: 95px;
}


.button_to input{
  background: transparent;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  border: 1.5px solid #B0C4DE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: 'Abel', sans-serif;
  margin-bottom: 10px;
  padding: 5px;

}


input, textarea {
  margin-bottom: 10px;
  line-height: 1em;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  border: 1px solid #B0C4DE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

button{
  background: transparent;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  border: 1.5px solid #B0C4DE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: 'Abel', sans-serif;
  margin-bottom: 10px;
}

select{
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: 1em;
  border: 1px solid #B0C4DE;
  background: transparent;
}


a {
  color: #632728;
  text-decoration: none;
}

a:hover {
  color: #177574;
  text-decoration: underline;
}

ul li {
  position: relative;
  margin: 10px auto;
  font-family: 'Abel', sans-serif;
}


ul li h3 {
  position: absolute;
  bottom: -18px;
  left: 17px;
  font-size: 2em;
}
ul a {
  font-size: 1.5em;
  color: #ccc;
}
ul a:hover {
}

