/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html,body {
    height:100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}
.container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.filter_button{
  display: inline-block;
  font-size: 1.3em;
}

header{
  background-color: white;
  margin: 10px;
  height: 130px;
  border-bottom: 2px solid #ccc;;
}
nav{
  position: relative;
  float: right;
}
nav ul li{
  display: inline-block;
}

h1{
  font-family: 'Bree Serif', serif;
  color: #0A3620;
  position: relative;
  float: left;
  font-size: 4em;
  margin: 20px;
}

h2{
  font-family: 'Oswald', sans-serif;
  margin: 10px;
  color: #1c6551;
  font-size: 1.3em;
}

h3{
  font-family: 'Abel', sans-serif;
  margin: 10px;
  color: #1c6551;
  font-size: 1em;
}

h4{
  font-family: 'Abel', sans-serif;
  font-size: 1em;
  margin-left: 25px;
}

span{
  font-family: 'Abel', sans-serif;
  font-size: 0.7em;
  color: #1C539C;

}

#error{
  font-family: 'Shadows Into Light', cursive;
  color: #C40E38;
  font-weight: bold;
  font-size: 1.8em;
  margin-left: 95px;
}

.question_body{
  font-size: 1.3em;
  font-family: 'Abel', sans-serif;
  margin: 20px;
  padding: 5px;
}


.type_titles {
  font-size: 24px;
}

.question_main {
}

.question_show_partial {
  clear: both;
}

.question_votes {
  float: left;
  width: 95px;
  height: 100%;
}

.question_buttons {
  float: right;
}

.question_content {
  margin-left: 95px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.question_title {
  width: 100%;
}

.question_body {
  width: 100%;
}

.question_tag {
  margin: 0 0 5px 25px;
}

.question-text {
  display: inline-block;
  max-width: 50%;
  vertical-align: top;
}

.question-text p {
  float: right;
}

.answer_show_partial {
  clear: both;
}

.answer_votes {
  float: left;
  width: 95px;
  height: 100%;
}

.answer_date{
  font-size: 0.8em;
  font-family: 'Abel', sans-serif;
  margin-left: 20px;
  padding: 5px;
}

.answer_body{
  font-size: 1.3em;
  font-family: 'Abel', sans-serif;
  margin-left: 20px;
  padding: 5px;
}

.new_answer{
  font-size: 1.3em;
  font-family: 'Abel', sans-serif;
  margin: 20px;
  padding: 5px;
}

.answer_buttons {
  float: right;
}

.answer_content {
  margin-left: 95px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.answer_body {
  width: 100%;
}

.answer_show_partial {
  clear: both;
}


.comment_div{
  margin-left: 105px;
  margin-bottom: 95px;
}

.each_comment{
  display: inline-block;
  width: 100%;
  border-bottom: 1.4px solid #ccc;
  margin: 5px;
}

.comment_body {
  float: left;
  margin: 3px;
  display: inline-block;
}

.comment_buttons {
  float: right;
  font-size: 0.7em;
  margin: 0 auto;

}

.comment_label {
  font-size: 1.1em;
}

.new_form{
  margin-left: 85px;
}

.answer_buttons a, .question_buttons a{
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  border: 1.5px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: 'Abel', sans-serif;
  margin-bottom: 10px;
  padding: 2px;
}


.button_to input{
  background: transparent;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  border: 1.5px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: 'Abel', sans-serif;
  margin-bottom: 10px;
  padding: 5px;

}


input, textarea {
  background: transparent;
  margin-bottom: 10px;
  line-height: 1em;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 3px;
}

button{
  background: transparent;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  border: 1.5px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: 'Abel', sans-serif;
  margin-bottom: 10px;
}

select{
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: 1em;
  border: 1px solid #ccc;
  background: transparent;
}


a {
  color: #1C539C;
  text-decoration: none;
}

a:hover {
  color: #177574;
  text-decoration: underline;
}

ul li {
  position: relative;
  margin: 10px auto;
  font-family: 'Abel', sans-serif;
}


ul li h3 {
  position: absolute;
  bottom: -18px;
  left: 17px;
  font-size: 2em;
}
ul a {
  font-size: 1.5em;
  color: #20A160;
}
ul a:hover {
  color: #20C773;
}
